html {
	display: flex;
	align-items: center;
	font-family: "Times New Roman", Times, serif;
	max-width: 100%;
}

* {
	color: white;
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
	background-color: black;
	padding: 1rem;
	max-width: 100%;
	margin: auto;
	margin-top: 5%;
	align-items: center;
	padding-bottom: 4rem;
	border: 2px dashed lime;
}

/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	width: 50rem;
}

.divider {
	width: 16rem;
	margin-top: 0.75rem;
	margin-bottom: -10px;
}

div {
	padding: 1em;
}


/* Links */
a:link, a:visited {
	color: white;
	text-decoration: none;
	text-align: center; 
}

.link1:hover, .link1:active {
	color: lime;
	text-decoration: underline;
}

.link2:hover, .link2:active {
	color: fuchsia;
	text-decoration: underline;
}

.link3:hover, .link3:active {
	color: yellow;
	text-decoration: underline;
}

.link4:hover, .link4:active {
	color: aqua;
	text-decoration: underline;
}

.navlinks {
	text-align: center;
	font-size: 22px;
	padding-left: 10px;
	padding-right: 10px;
}


/* Homepage Content */
.welcome {
	display: flex;
	align-items: center;
	width: 26rem;
	padding-top: 20px;
}

.robothome {
	width: 9rem;
	float: left;
	margin-right: 24px;
}

.welcometext {
	font-size: 18px;
	letter-spacing: 1px;
	text-align: left;
	vertical-align: bottom;
}